
@{
    ViewData["Title"] = "2. แสดงข้อมูลที่ได้จากการเรียก API";
}
<h1>@ViewData["Title"]</h1>

<p>น้องไม่เคยเขียน Api เลยค่ะ ยังเซ็ตโปรเจ็กไม่ครบ และยังไม่รู้วิธีรัน งมนานเลยค่ะ 
    เลยพยามยามโครสร้าง เช่นตัวอย่างไฟล์controller TestapiController เป็นคอนเส็ปคร่าวๆค่ะ  </p>
