
@{
    ViewData["Title"] = "4. เขียนโปรแกรม เพื่อทำการตรวจสอบความถูกต้องของเลขบัตรประจำตัวประชาชน";
}
<h1>@ViewData["Title"]</h1>

<p>
    ยังไม่รู้วิธีรัน งมนานเลยค่ะ เลยพยามยามโครสร้าง เช่นตัวอย่างไฟล์controller IDcardController เป็นคอนเส็ปคร่าวๆค่ะ
</p>