
@{
    ViewData["Title"] = "5.จงเขียนโปรแกรม เพื่อแสดงตามรูปด้านล่าง";
}
<h1>@ViewData["Title"]</h1>
<p>
   ยังไม่รู้วิธีรัน งมนานเลยค่ะ เลยพยามยามโครสร้าง เช่นตัวอย่างไฟล์controller PrintMsgController เป็นคอนเส็ปคร่าวๆค่ะ
</p>